h1{
    text-align: center;
    font-size: 40px;
    color: red;
    text-align: left;
}
.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: none;
    text-align: center;
}

.course-item img {
    max-width: 100%;
    height: auto;
}

.course-item h3 {
    margin-top: 10px;
    text-align: left; /* Căn lề trái */
}

.course-item h3 i {
    margin-right: 5px;
    color: rgb(212, 21, 21); /* Thay đổi màu sắc của icon */
}

.course-item p {
    text-align: left; /* Đặt text-align thành left */
    margin-top: 5px; /* Thêm margin-top để tạo khoảng cách giữa các đoạn văn bản */
}

.course-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 20px;
}

.course-item {
width: calc(25% - 20px); /* Định kích thước cho mỗi item */
}